 <footer class="ls-footer" role="contentinfo">
  <nav class="ls-footer-menu">
      <h2 class="ls-title-footer">suporte e ajuda</h2>
      <ul class="ls-footer-list">
        <li>
          <a href="/orders" target="_blank" class="ls-ico-cart">
            <span class="visible-lg">Meus Pedidos</span>
          </a>
        </li>
        <li>
          <a href="/products" target="_blank" class="ls-ico-list">
            <span class="visible-lg">Meus Produtos</span>
          </a>
        </li>
        <li>
          <a href="/calls" target="_blank" class="ls-ico-bullhorn">
            <span class="visible-lg">Meus Chamados</span>
          </a>
        </li>
        <li>
          <a href="/calls/new" target="_blank" class="ls-ico-question">
            <span class="visible-lg">Abrir chamado</span>
          </a>
        </li>
      </ul>
  </nav>
  <div class="ls-footer-info">
    <span class="last-access ls-ico-screen"><strong>Último acesso: </strong>99/99/9999 99:99:99</span>
    <div class="set-ip"><strong>IP:</strong> 000.00.00.000</div>
    <p class="ls-copy-right">Copyright © 1997-2017 Serviços de Internet S/A.</p>
  </div>
</footer>