<% if resource.errors.any? %>
  <div id="error_explanation" class="ls-alert-warning ls-dismissable" role="alert">
    <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
    <strong><%= t('errors.check_errors') %>:</strong>
    <div class="ls-list-description">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
